*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}


.onduty-container {
  background: white;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color:#222;
}

.onduty-header {
  background: #0088bb;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  margin-bottom: 20px;
}



.onduty-form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 6px 4px;
  padding: 6px;
  box-sizing: border-box;
}

.onduty-form-grid label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #222;
  margin-bottom: 4px;
}

.onduty-form-grid input,
.onduty-form-grid textarea {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fcfcfc;
  box-sizing: border-box;
  height: 38px;
  transition: 0.2s ease;
}


.save-btn {
  padding: 8px 16px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-header {
  color:#FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0088bb;
  padding: 0 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 1px solid #bcdff1;
}

.form-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  transition: color 0.2s ease;
  padding:1px 0 !important;
}

.close-btn:hover {
  color: #d33;
}

@media (max-width: 768px) {
  .onduty-form-grid {
    grid-template-columns: 1fr;
  }
}
